doctype html
html
  head
    <div class="navbar">
      <a href="/mold">Mold</a>
      <a href="/roach">Infestations</a>
      <a href="/data">Data</a>
      <a href="/">About</a>
    </div>
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    <link rel="icon" href="/favicon.ico?" type="image/x-icon">
  body
    block content
